nav.tab-bar
  section.left-small
    a.left-off-canvas-toggle.menu-icon(href="#")
      span
  section.middle.tab-bar-section
    h1.title Foundation
aside.left-off-canvas-menu
  ul.off-canvas-list
    li
      label Foundation
    li
      a(href="#") The Psychohistorians
    li
      a(href="#") ...


